/** @format */

#container {
	width: 320px;
	margin: 100px auto;
	background-color: #f7f7ff;
	box-shadow: 0px 0px 0.3px rgba(0, 0, 0, 0.1);
}

body {
	font-family: 'Roboto', sans-serif;
	background: #43c6ac; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#191654,
		#43c6ac
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#191654,
		#43c6ac
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
	margin: 0px;
	padding: 10px 20px;
	background-color: #2980b9;
	font-weight: normal;
	color: white;
	text-transform: capitalize;
}
